Pair programming

En el pair programming de hoy seguiremos poniendo en práctica las listas de Python. En la sesión de hoy tendréis que realizar las siguientes tareas:

Cread una lista con 10 números aleatorios entre el 0 y el 100. Para esto tendréis que ejecutar el siguiente código:
import random
lista = random.sample(range(1,100), 10)
Este código no tenemos por que entenderlo. En este código veremos un par de cosas que no sabemos que son:
random.sample(): os dejamos por aquí la documentación de la random.sample por si queréis curiosear.
range(): aquí tenéis la documentación para las más atrevidas.

In [4]:
import random
lista = random.sample(range(1,100), 10)

In [5]:
print(lista)

[19, 23, 70, 47, 15, 46, 89, 48, 69, 74]

Con la lista creada en el ejercicio anterior:
Nota: cuando os preguntamos el elemento que esta en la tercera posición nos referimos a la posición "humana", es decir, dada la siguiente lista:
ejemplo = [4,6,2,7,9,0]

In [6]:
# si os pedimos el número que esta en tercera posición el resultado deberá ser "2"

# si os pedimos el número que esta en primera posición deberá ser "4"

¿Cuál es la longitud de la lista? Utilizad métodos de Python para extraer este resultado.

In [7]:
len(lista)

10

Extraed el número que está en la tercera posición.Recordad que los índices en Python empiezan en 0 y que no corresponden con las "posiciones humanas"

In [8]:
lista[2]

70

Extraed el número que esta en la tercera posición utilizando los índices negativos.

In [9]:
lista[-8]

70

In [10]:
print(type(lista))

<class 'list'>

Preguntad al usuario por un número de la lista que hemos creado en el primer paso, recordad que para eso tendréis que usar la función input. ¿En que posición esta el número que ha eligido la usuaria?

In [11]:
lista2 = lista.copy()
print(lista2)

[19, 23, 70, 47, 15, 46, 89, 48, 69, 74]

In [12]:
lista2 = input('dime un numero de la lista')
print(lista2)

4

In [13]:
# por qué es string?

print(type(lista2))

<class 'str'>

In [14]:
# por qué devuelve 0 y no 1?

print(lista2.index('4'))

0

Extraed los valores que estén entre la tercera posición y la quinta (ambos inclusive). Esto nos tendrá que devolver una lista de 3 elementos.

In [15]:
print(lista[2:5])

[70, 47, 15]

Extraed los valores que estén entre las posiciones 6 y 9 utilizando índices negativos. Os debe devolver una lista con 4 números.

In [17]:
print(lista[-4:])

[89, 48, 69, 74]

¿Cuáles son los numéros que están en las posiciones pares nuestra lista?

In [18]:
lista[1::2]

[23, 47, 46, 48, 74]

¿Y los que están en posiciones impares?

In [19]:
lista[0::2]

[19, 70, 15, 89, 69]

Dadas las siguientes listas:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]
notas =  [9, 8.5, 9.8, 8.9, 9.2]
¿Qué nota ha sacado Lupe? Para este ejercicio os pedimos que uséis primero el método index() de listas y luego lo índices con [] de las listas. Para esto tendréis que sacar primero en que posición esta Lupe en la lista nombres y usar el resultado de este paso para acceder ,usando los índices de Python, a la nota de Lupe.

In [20]:
nombres = ["Laura", "Lorena", "Lupe", "Loreto", "Lucía"]
notas = [9, 8.5, 9.8, 8.9, 9.2]

In [22]:
print(nombres.index('Lupe'))

2

In [24]:
print(notas[2])

9.8

De la misma forma, ¿qué alumna a sacado la nota más alta? Tendréis que poner en práctica, métodos aprendidos hoy y en la lección de listas de ayer.

In [26]:
nota_maxima = max(notas)
print(nota_maxima)

9.8

In [27]:
print(notas.index(9.8))

2

In [29]:
print(nombres[2])

Lupe

¿Qué alumna a sacado la nota más baja? ¿Es esta nota mayor que 5?

In [31]:
nota_minima = min(notas)
print(nota_minima)

8.5

In [32]:
print(notas.index(8.5))

1

In [34]:
print(nombres[1])

Lorena

In [35]:
print(type(notas))

<class 'list'>

In [36]:
print(nota_minima >= 5)

True

Ordenad la lista de notas de mayor a menor y almacenalo en una nueva variable llamada notas_nuevo_orden

In [40]:
notas_nuevo_orden = notas.copy() # por qué se ha ordenado al hacer una copia?
print(notas_nuevo_orden)

[8.5, 8.9, 9, 9.2, 9.8]

In [46]:
notas_nuevo_orden.reverse() # tuvimos que usar el .reverse para dar vuelta el orden
print(notas_nuevo_orden)

[9.8, 9.2, 9, 8.9, 8.5]

Ordenad las notas de las alumnas de mayor a menor. Usa el método que sobreescriba la variable notas.

In [47]:
print(sorted(notas_nuevo_orden)) # por qué ordena de menor a mayor?

[8.5, 8.9, 9, 9.2, 9.8]

Ordenad la lista de nombres de mayor a menor. ¿Qué es lo que ha pasado?

In [48]:
print(sorted(nombres))

['Laura', 'Lorena', 'Loreto', 'Lucía', 'Lupe']

Borrad la lista de notas.

In [50]:
del notas
print(notas)

NameError: name 'notas' is not defined

Dadas las siguientes listas:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]
Unid las tres listas de forma que tengamos el siguiente output
[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [63]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [91]:
dias1 = [lunes, martes, miercoles]
print(dias1)

[[34, 56, 82], [99, 64, 24], [12, 59, 71]]

Definid de nuevo la tres listas. Ahora unid las tres listas de tal forma que obtengamos el siguiente output:
[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [86]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [89]:
dias = lunes + martes + miercoles
print(dias)

[34, 56, 82, 99, 64, 24, 12, 59, 71]

Definid de nuevo las tres listas. Insertad los siguientes valores:
En la lista lunes un 100 en la primera posición
En la lista martes un 100 en la tercera posición
En la lista miercoles un 100 en la última posición

In [104]:
lunes = [34,56,82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [105]:
lunes.insert(0,100)
print(lunes)

[100, 34, 56, 82]

In [106]:
martes.insert(2,100)
print(martes)

[99, 64, 100, 24]

In [107]:
miercoles.insert(3,100)
print(miercoles)

[12, 59, 71, 100]

In [108]:
miercoles.insert(-1,100) # por qué se agrega otro 100?
print(miercoles)

[12, 59, 71, 100, 100]