In [5]:
nombre = input('Dime nombre de tres amigos')
print(nombre)

Marta, Paula, Yolanda

In [7]:
lista_amigas = [nombre]
print(lista_amigas)

['Marta, Paula, Yolanda']

In [8]:
alturas = input('Dime la altura de tus amigas')
print(alturas)

1.62, 1.65, 1.70

In [9]:
lista_alturas = alturas.split (",")
print(lista_alturas)

['1.62', ' 1.65', ' 1.70']

In [10]:
lista_alturas = [float(i) for i in lista_alturas]

In [4]:
altura1 = 1.62
altura2 = 1.65
altura3 = 1.70

In [11]:
lista_alturas2 = lista_alturas.copy()
print(lista_alturas2)#Falta ordenar de mayor a menor.

[1.62, 1.65, 1.7]

In [16]:
altura_maxima = max(lista_alturas2)
print('La altura máxima es de', altura_maxima)

La altura máxima es de 1.7

In [17]:
altura_minima = min(lista_alturas2)
print('La altura mínima es', altura_minima)

La altura mínima es 1.62

In [18]:
lista1 = [44, 55, 67, 44, 98, 29]
lista2 = [34, 56, 56, 78, 67, 56]

In [27]:
lista_lista = lista1, lista2
print(lista_lista)

([44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56])

In [28]:
lista_numeros = lista1 + lista2
print(lista_numeros)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [29]:
lista_lista = lista1 + lista2
print(lista_lista)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [30]:
print(lista_lista.count(67))

2

In [31]:
print(lista_numeros.count(67))

2

In [35]:
lista_numeros_reves = lista_numeros.copy()

In [36]:
print(lista_numeros_reves)

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [37]:
lista_numeros_reves.reverse()

In [38]:
print(lista_numeros_reves)

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]